/* CARD CONTAINER */
.card-container {
  width: 200px;
  height: 260px;
  margin: 12.5px 10px;
  position: relative;
}

.card-container:hover {
  width: 240px;
  height: 312px;
  margin: -15px -10px;
  top: 2.5px;
}

/* CARD BACKGROUND */
.card-background {
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}

/* STATUS */
.card-background.status.common.costless {
    background-image: url("/card-assets/backgrounds/status-common-costless.png");
}

/* CURSE */
.card-background.curse.common.costless {
    background-image: url("/card-assets/backgrounds/curse-common-costless.png");
}

/* COLORLESS */
.card-background.colorless.attack.common {
    background-image: url("/card-assets/backgrounds/colorless-attack-common.png");
}

.card-background.colorless.skill.common {
    background-image: url("/card-assets/backgrounds/colorless-skill-common.png");
}

.card-background.colorless.attack.uncommon {
    background-image: url("/card-assets/backgrounds/colorless-attack-uncommon.png");
}

.card-background.colorless.skill.uncommon {
    background-image: url("/card-assets/backgrounds/colorless-skill-uncommon.png");
}

.card-background.colorless.attack.rare {
    background-image: url("/card-assets/backgrounds/colorless-attack-rare.png");
}

.card-background.colorless.skill.rare {
    background-image: url("/card-assets/backgrounds/colorless-skill-rare.png");
}

.card-background.colorless.power.rare {
    background-image: url("/card-assets/backgrounds/colorless-power-rare.png");
}

/* RED */
.card-background.red.attack.common, .card-background.red.attack.basic {
    background-image: url("/card-assets/backgrounds/red-attack-common.png");
}

.card-background.red.skill.common, .card-background.red.skill.basic {
    background-image: url("/card-assets/backgrounds/red-skill-common.png");
}

.card-background.red.attack.uncommon {
    background-image: url("/card-assets/backgrounds/red-attack-uncommon.png");
}

.card-background.red.skill.uncommon {
    background-image: url("/card-assets/backgrounds/red-skill-uncommon.png");
}

.card-background.red.attack.rare {
    background-image: url("/card-assets/backgrounds/red-attack-rare.png");
}

.card-background.red.skill.rare {
    background-image: url("/card-assets/backgrounds/red-skill-rare.png");
}

.card-background.red.power.uncommon {
    background-image: url("/card-assets/backgrounds/red-power-uncommon.png");
}

.card-background.red.power.rare {
    background-image: url("/card-assets/backgrounds/red-power-rare.png");
}

/* GREEN */
.card-background.green.attack.common.costless{
    background-image: url("/card-assets/backgrounds/green-attack-common-costless.png");
}

.card-background.green.skill.uncommon.costless{
    background-image: url("/card-assets/backgrounds/green-skill-uncommon-costless.png");
}

.card-background.green.skill.rare.costless{
    background-image: url("/card-assets/backgrounds/green-skill-rare-costless.png");
}

.card-background.green.attack.common, .card-background.green.attack.basic {
    background-image: url("/card-assets/backgrounds/green-attack-common.png");
}

.card-background.green.skill.common, .card-background.green.skill.basic {
    background-image: url("/card-assets/backgrounds/green-skill-common.png");
}

.card-background.green.attack.uncommon {
    background-image: url("/card-assets/backgrounds/green-attack-uncommon.png");
}

.card-background.green.skill.uncommon {
    background-image: url("/card-assets/backgrounds/green-skill-uncommon.png");
}

.card-background.green.attack.rare {
    background-image: url("/card-assets/backgrounds/green-attack-rare.png");
}

.card-background.green.skill.rare {
    background-image: url("/card-assets/backgrounds/green-skill-rare.png");
}

.card-background.green.power.uncommon {
    background-image: url("/card-assets/backgrounds/green-power-uncommon.png");
}

.card-background.green.power.rare {
    background-image: url("/card-assets/backgrounds/green-power-rare.png");
}

/* CARD NAME */
.card-name {
  font-family: 'Patua One', cursive;
  position: relative;
  z-index: 3;
  text-align: center;
  top: -89.5%;
  font-size: 0.9rem;
  color: #fdf8e1;
  text-shadow:
     1px   1px 5px   #000,
     1px  2px  0px   #000,
     0px  1px 0   #000,
     0px -1px 0   #000,
     1px  1px 0   #000,
    -1px -1px 0   #000,
     1px -1px 0   #000,
    -1px  1px 0   #000,
     1px  1px 5px #000;
}

.card-container.colorless .card-name {
  top:-90%;
}

.card-container.red .card-name, .card-container.green .card-name {
  top:-90.5%;
}

.card-container:hover .card-name {
  font-size: 1.05rem;
}

/* CARD COST */
.card-cost {
  font-family: 'Patua One', cursive;
  position: relative;
  z-index: 3;
  text-align: center;
  top: -97.7%;
  font-size: 1.5rem;
  color: #fff7e3;
  text-shadow:
     1px   1px 5px   #000,
     1px  2px  0px   #000,
     0px  1px 0   #000,
     0px -1px 0   #000,
     1px  1px 0   #000,
    -1px -1px 0   #000,
     1px -1px 0   #000,
    -1px  1px 0   #000,
     1px  1px 5px #000;

  height: 0%;
  width: 21%;
}

.card-container:hover .card-cost {
  font-size: 1.7rem;
}

.card-container.colorless .card-cost{
  top: -96.8%;
  left: -0.2%;
}

.card-container.red .card-cost {
  top: -97.7%;
  left: -0.5%;
}

.card-container.green .card-cost{
  top: -96.8%;
  left: 0%;
}

/* CARD ART */
.card-art {
  width: 80%;
  height: 45%;
  top: -92%;
  margin: auto;
  position: relative;
  z-index: 0;
}

.card-container.red .card-art, .card-container.green .card-art {
  top: -94%;
}

.card-art img {
  width: 100%;
  height: 100%;
}

/* CARD TEXT */
.card-text {
  font-family: 'Karma', serif;
  font-size: 0.905rem;;
  position: relative;
  margin-left: 16%;
  width: 71.49%;
  height: 50%;
  top: -90%;
  text-align: center;
  color: #fef4e4;
  z-index: 2;
  line-height: 110%
}

.card-text ul {
  margin: 0;
  padding: 0;
  position: relative;
  top: 30%;
  transform: translate(0px, -50%);
}

.card-text li {
  list-style: none;
}

.card-text .keyword {
  color: #ebc85a;
  cursor: url("/misc-assets/magnifying-glass.png") 15 15, auto;
}

.card-container:hover .card-text {
  font-size: 1.089rem;
}
