.family-filter {
  background-image: url("/misc-assets/parchment_alpha.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 80%;
  height: 100%;
  margin: auto;
  min-width: 150px;
}
