body {
  background-image: url("/misc-assets/background.jpg");
  background-repeat:no-repeat;
  background-size:fill;
  background-position:center;
  background-attachment: fixed;
  cursor: url("/misc-assets/yellow-cursor.png"), auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-container {
  width: 200px;
  height: 260px;
  margin: 12.5px 10px;
  position: relative;
}

.card-container:hover {
  width: 240px;
  height: 312px;
  margin: -15px -10px;
  top: 2.5px;
}

.card-background {
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}

.card-background.status.common.costless {
    background-image: url("/card-assets/backgrounds/status-common-costless.png");
}

.card-background.curse.common.costless {
    background-image: url("/card-assets/backgrounds/curse-common-costless.png");
}

.card-background.colorless.attack.common {
    background-image: url("/card-assets/backgrounds/colorless-attack-common.png");
}

.card-background.colorless.skill.common {
    background-image: url("/card-assets/backgrounds/colorless-skill-common.png");
}

.card-background.colorless.attack.uncommon {
    background-image: url("/card-assets/backgrounds/colorless-attack-uncommon.png");
}

.card-background.colorless.skill.uncommon {
    background-image: url("/card-assets/backgrounds/colorless-skill-uncommon.png");
}

.card-background.colorless.attack.rare {
    background-image: url("/card-assets/backgrounds/colorless-attack-rare.png");
}

.card-background.colorless.skill.rare {
    background-image: url("/card-assets/backgrounds/colorless-skill-rare.png");
}

.card-background.colorless.power.rare {
    background-image: url("/card-assets/backgrounds/colorless-power-rare.png");
}

.card-container:hover .card-banner {
  top: -103.9%;
}

.card-name {
  font-family: 'Patua One', cursive;
  position: relative;
  z-index: 3;
  text-align: center;
  top: -90%;
  font-size: 1rem;
  color: #fdf8e1;
  text-shadow:
     1px   1px 5px   #000,
     1px  2px  0px   #000,
     0px  1px 0   #000,
     0px -1px 0   #000,
     1px  1px 0   #000,
    -1px -1px 0   #000,
     1px -1px 0   #000,
    -1px  1px 0   #000,
     1px  1px 5px #000;
}

.card-container:hover .card-name {
  font-size: 1.2rem;
}

.card-cost {
  font-family: 'Patua One', cursive;
  position: relative;
  z-index: 3;
  text-align: center;
  top: -97.7%;
  font-size: 1.5rem;
  color: #fff7e3;
  text-shadow:
     1px   1px 5px   #000,
     1px  2px  0px   #000,
     0px  1px 0   #000,
     0px -1px 0   #000,
     1px  1px 0   #000,
    -1px -1px 0   #000,
     1px -1px 0   #000,
    -1px  1px 0   #000,
     1px  1px 5px #000;

  height: 0%;
  width: 21%;
}

.card-container:hover .card-cost {
  font-size: 1.7rem;
}


.card-art {
  width: 80%;
  height: 45%;
  top: -92%;
  margin: auto;
  position: relative;
  z-index: 0;
}

.card-art img {
  width: 100%;
  height: 100%;
}

.card-text {
  font-family: 'Karma', serif;
  font-size: 0.9rem;
  position: relative;
  margin-left: 16%;
  width: 71.5%;
  height: 50%;
  top: -90%;
  text-align: center;
  color: #fef4e4;
  z-index: 2;
  line-height: 110%
}

.card-text ul {
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 28%;
  transform: translate(0px, -50%);
}

.card-text li {
  list-style: none;
}

.card-text .keyword {
  color: #ebc85a;
  cursor: url("/misc-assets/magnifying-glass.png") 15 15, auto;
}

.card-container:hover .card-text {
  font-size: 1.1rem;
}

.book {
  position: relative;
  display: flex;
  flex-flow: wrap;
  max-width: 1200px;
  margin:auto;
}
